* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

header {
    background-color: black;
    color: white;
    margin-bottom: 25px;
}

.nav {
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 0.3%;
    margin: 0.3%;
    border-radius: 5px;
    left: 0;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: small;
}

h2 {
    margin: 5px;
}

h3 {
    margin-bottom: 5px;
    margin-left: 15px;
}

.imagen {
    text-align: center;
    margin: 25px;
}

.imagen img {
    width: 350px;
    height: 200px;
}

@media (max-width:650px) {
    .imagen img {
    width: 90%;
    height: auto; 
  }
}

footer {
    background-color: black;
    color: white;
 
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}

.redes {
    color: white;
    font-size: 10px;
}

.redes:hover {
    color: yellow;
}

.redes:active {
    color: red;
}

/* Contacto */
.contacto {
    display: flex;
    margin: 5px;
    padding-bottom: 20%;
}

 .mail {
   margin-bottom: 15px;
   margin-left: 5px;
   
 }

 /* Receta */
 .parrafo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 32%;

 }

section {
    margin-bottom: 20px;
    margin-left: 5px;
    border: 1px solid;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    margin-left: 40%;
}

li {
    margin-left: 40%;
}

/* Sucursales */
.direccion {
    display: flex;
    margin-left: 5px;
}

.enlace {
    padding-bottom: 15px;
    margin-left: 5px;
}

iframe {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Datos */
.centrar {
    text-align: center;
}

/* registro */
.enviar {
    background-color: gray;
    color: white;
    padding: 10px 12px;
    margin-top: 8px;
    margin-left: 10px;
}

form {
    font-size: 10px;
    padding: 12px 10px;
    margin: 8px 20%;
    border: 1vw;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: gainsboro;
}

.titulo {
    background-color: gray;
    padding: 5px;
    margin: 10px 40px;
}

.flex {
    display: flex;
}

label {
    margin: 8px;
    margin-left: 40px;
    padding-right: 10px;
}

input[type=text],[type=number],[type=tel],[type=date],[type=email],[type=password] {
    margin: 0 40px 8px 10px;
    width: 100%;
}

.acomodo {
    margin: 8px 40px;
}

textarea {
    width: 60%;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d2f160;
} 

.p {
    text-align: center;
    margin: 5px 20px;
    font-size: 10px;
}

@media (max-width:650px) {
    form {
        width: 90%;
        margin: auto;
    }
}

/* Clientes */
.clientes {
    display: flex;
    justify-content: center;
}

.clientes img {
    width: 200px;
    height: 150px;
    margin: 20px; 
 }

 @media (max-width:650px) { 
.clientes {
    display: block;
}

    .clientes img {   
        width: 90%;
        height: auto; 
    }
 }

 





















































































































































































































































































































































































































































































