header {
    background-color: black;
    color: white;
}

.nav {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}

.imagen {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 8px;
    text-align: center;
}

.redes {
    color: white;
}

/* Contacto */
.contacto {
    display: flex;
    margin-left: 5px;
    padding-bottom: 20%;
}

 .mail {
   padding: 15px;
 }

 /* Receta */
 .parrafo {
    font-weight: bold;
    font-size: 20px;
 }

/* Sucursales */
.direccion {
    display: flex;
}

.enlace {
    padding-top: 12px;
    margin-left: 5px;
}

/* Datos */
.centrar {
    text-align: center;
}

/* registro */
.enviar {
    background-color: gray;
    color: white;
    padding: 10px 12px;
    margin-top: 5px;
    margin-left: 10px;
}