* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.conteiner {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: black;
    margin-bottom: 35px;
    border-radius: 0;
}

.navbar a {
    font-size: large;
}

/* .bt-receta {
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 0.8%;
    margin: 25px;
    margin-left: 40px;
    border-radius: 5px;
    left: 0;
} */

/* La cocina de Juan */
h1 { 
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
}

h2 {
    margin: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: large;
    font-weight: 800;
}

/* receta: ingredientes */
h3 {
    margin-bottom: 5px;
    margin-left: 15px;
}

/* logo */
.logo {
    width: 50px;
}

/* home; acerca de; receta  */
.imagen {
    text-align: center;
    margin: 25px;
}

.imagen img {
    width: 350px;
    height: 250px;
}

/* main - home */
.grid-container {
    display: grid;
    gap: 20px;
}

.aside-1 {
    grid-column: 1;
    grid-row: 1;
}

.carousel {
    grid-column: 2;
    grid-row: 1;
}

.aside-2 {
    grid-column: 3;
    grid-row: 1;
}

.aside-1, .aside-2 {
    background-color: gray;
    height: 400px; 
    text-align: center;
    padding: 10px;
}

.aside_p {
    font-weight: 500;
    font-size: 17px;
}

.main-home {
    margin: 0 25px; 
}

/* slide */
.item img {
    height: 40dvh;
    min-height: 400px;
    min-width: 150px; /* establece una altura mínima*/
}

.text {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.3px;
    font-weight: 600;
}

.text-p {
    font-size: large;
    font-weight: 250;
}

/* acerca de - p */
.relleno {
    margin: 70px 30px 0 30px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.redes {
    color: white;
    font-size: large;
}

.redes:hover {
    color: yellow;
}

.redes:active {
    color: red;
}

.footer-text {
    margin: 40px 0;
}

/* Contacto */
.contacto {
    display: flex;
    margin: 15px;
    margin-left: 40px;
    padding-bottom: 20%;
}

 .mail {
   margin-bottom: 15px;
   margin-left: 5px;
 }

 /* Receta */
 .parrafo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 32%;
 }

section {
    margin-bottom: 20px;
    margin-left: 5px;
    border: 1px solid;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    margin-left: 40%;
}

section li {
    margin-left: 40%;
}

/* Sucursales */
.direccion {
    display: flex;
    margin-left: 40px;
}

.enlace {
    padding-bottom: 15px;
    margin-left: 5px;
}

.mapas {
    margin: 20px;
 }

iframe {
    margin: 10px 20px ;
    margin-left: 20px;
}

/* registro */
.enviar {
    background-color: gray;
    color: white;
    padding: 10px 12px;
    margin-top: 8px;
    margin-left: 10px;
}

form {
    font-size: 10px;
    padding: 12px 10px;
    margin: 8px 15%;
    border: 1vw;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: gainsboro;
}

.titulo {
    background-color: gray;
    padding: 5px;
    margin: 10px 40px;
}

.flex {
    display: flex;
}

label {
    margin: 8px;
    margin-left: 40px;
    padding-right: 10px;
}

input[type=text],[type=number],[type=tel],[type=date],[type=email],[type=password] {
    margin: 0 40px 8px 10px;
    width: 100%;
}

.acomodo {
   margin: 8px 40px;
}

textarea {
   width: 60%;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}

input[type=submit]:hover {
    background-color: #d2f160;
} 

.p {
    text-align: center;
    margin: 5px 20px;
    font-size: 10px;
}

/* Clientes */
.clientes {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.clientes img {
    width: 25%;
    height: auto;
    margin-top: 0;
    margin: 15px; 
    object-fit: cover;
 }

 /* Show_data */
.th {
    text-align: center;
}

.centrar {
    text-align: center;
}

/* mediaQuery */
@media screen and (max-width: 765px) {
    /* slide */
    .grid-container {
        display: grid;
    }

    .aside-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .aside_p {
        margin-top: 5px;
    }

    .carousel {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .aside-2 {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .main-home {
        margin: 0;
    }

    .item img {
        height: 30dvh;
        min-height: 400px;
        min-width: 250px;
    }
 
    /* sucursales */
    .mapas {
       margin: 10px;
    }

   /* formulario */
   form {
    font-size: 10px;
    padding: 12px 10px;
    margin: 8px 10%;
    box-sizing: border-box;
    }
}

  @media screen and (max-width: 576px) {
    /* slide */
    .grid-container {
        display: grid;
    }

    .aside-1 {
        grid-column: 1;
        grid-row: 1;
        padding: 10px;
    }

    .aside_p {
        margin-top: 25px;
    }

    .carousel {
        grid-column: 1;
        grid-row: 2;
    }

    .aside-2 {
        grid-column: 1;
        grid-row: 3;
        padding: 10px;
    }

    .item img {
        max-height: 400px;
        min-width: 100%;
        object-fit: cover; /* cubre el contenedor sin distorsionar la imagen */
    }

    /* clientes */
    .clientes {
       display: block;
    }
    
    .clientes img {   
      width: 90%;
      height: auto; 
   }

   /* formulario */
   form {
    font-size: 10px;
    padding: 12px 10px;
    margin: 8px 5%;
    box-sizing: border-box;
    }
}

  





















































































































































































































































































































































































































































































